<h2>Your tasks:</h2>

<%= link_to new_task_path do %>
  <div class="btn btn-primary">
    Create a task
  </div>
<% end %>

<% @tasks.each do |task| %>
  <div class="task">
    <h2><%= task.title %></h2>
    <p><%= task.status %></p>

    <%= link_to task_path(task) do %>
      <div class="btn btn-light">
        See details
      </div>
    <% end %>

    <%= link_to edit_task_path(task) do %>
      <div class="btn btn-light">
        Edit
      </div>
    <% end %>

    <%= link_to task_path(task),
      method: :delete,
      data: { confirm: "Are you sure?" } do %>
      <div class="btn btn-light">
        Delete
      </div>
    <% end %>
  </div>
<% end %>
